# Dossiers générés
node_modules/
build/
dist/
coverage/
/.pnp/

# Fichiers générés
*.pem
*.log
*.pid
*.seed
*.pid.lock
*.log
*.yml
*.min.css.map
*.min.js.map

# Fichiers d'environnement
.env

# Dossiers spécifiques à React
/.cache/
/public/
/.idea/

# Fichiers de configuration pour l'éditeur
.vscode/
*.code-workspace

# Fichiers de configuration pour les IDE
.idea/

# Fichiers de sauvegarde
*.bak
*.swp

# Fichiers de test
__tests__/
test/
tests/

# Fichiers temporaires
*.tmp
*.temp

# Fichiers d'installation
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de package manager
package-lock.json
yarn.lock

# Fichiers de build
/coverage/
/build/
/dist/

# Fichiers d'historique de navigation
.history/

# Fichiers de sauvegarde de déploiement
.DS_Store
Thumbs.db

# Fichiers de sauvegarde pour Windows
Desktop.ini
$RECYCLE.BIN/
ehthumbs.db

# Fichiers de sauvegarde pour MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
