form {
  text-align: center;
  /* font-size: 70%; */
  min-width: 400px;
  max-width: 400px;
} 

h1 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 8%;
}

h2 {
  text-align-last: left;
  font-size: 20px;
}

input {
  font-size: 20px;
  border-radius: 9px;
  padding: 2%;
  border-style: solid;
  border-color: #D3D3D3;;
  margin-bottom: 2%;
  padding: 2%;
  min-width: 400px;
  max-width: 400px;
  /* width: 50%; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.delete {
  margin-top: 50px;
  min-width: 200px;
  max-width: 200px;
  background-color: crimson;
  color: white;
  border-color: crimson;
}
.delete:hover {
  border-color: white;
}

li {
  list-style: none;
  font-size: 20px;
  text-decoration: none;
}

li a {
  text-decoration: none;
  color:#097CE0;
}

a:visited { 
  text-decoration: none; 
  color:#097CE0; 
}

a:hover, a:active { 
  text-decoration: none; 
  color:gray 
}

.error {
  color: red;
  font-size: small; 
}

.p-viewer {
  position: relative;
  color: black;
  margin: -14% 2% 0% 0%;
  float: right;
}


