#form {
  text-align: center;
  min-width: 400px;
  max-width: 400px;
}

.titleauth {
  padding-top: 150px;
  font-size: 28px;
  font-weight: normal;
  padding-bottom: 30px;
}

h2 {
  text-align-last: left;
  font-size: 20px;
}

input {
  font-size: 20px;
  border-radius: 9px;
  padding: 2%;
  border-style: solid;
  border-color: #D3D3D3;
  ;
  margin-bottom: 2%;
  padding: 2%;
  min-width: 400px;
  max-width: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a:visited {
  text-decoration: none;
  color: #097CE0;
}

a:hover,
a:active {
  text-decoration: none;
  color: gray
}

.error {
  color: red;
  font-size: small;
}

.p-viewer {
  position: relative;
  color: black;
  margin: -14% 2% 0% 0%;
  float: right;
}

.prompt a {
  font-size: smaller;
}

.prompt {
  font-size: 20px;
}