
#addWatchlist {
  position: absolute;
  min-width: 40px;
  max-width: 40px;
  background-color: black;
  opacity: 0.7;
  color: white;
  border-color:#888;
  border-style: solid;
}

#addWatchlist:hover {
  opacity: 0.6;
  border-color: white;
}

.movies-container .movie-link {
  text-align: left;
}

.movies-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  scrollbar-width: auto; /* Largeur du curseur */
  scrollbar-color: #888 transparent; /* Couleur du curseur */
  z-index: 10;
}

.text-left {
  text-align: left;
}
