.movies-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  scrollbar-width: auto; /* Largeur du curseur */
  scrollbar-color: #888 transparent; /* Couleur du curseur */
}


.movie {
}

