.App-header .watchlist {
    width: 1000px;
    padding: 0%;
    list-style: none;
}

.App-header h1 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.App-header {
    justify-content: flex-start;
}

li {
    width: 1000px;
    margin-top: 10px;
    display: inline-block;
    text-align: justify;
    font-size: medium;
}

li a img {
    float: left;
    margin-right: 10px;
}

.movietitle {
    margin-top: 10px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:visited {
    color: white;
}

a .movietitle:hover {
    text-decoration: underline;
    color: white;
}

button .partage {
    font-size: 20px;
}